# GEOG5990M Final Project Assignment

Student ID number:  201777629

# Project Introduce

In [22]:
# this notebook run on the 'spatial_env' environment kernel
# load required packages
import pandas 
import seaborn 
import numpy 
import matplotlib.pyplot as mplpplt
import os
import zipfile

import pyproj
import contextily as ctx
import geopandas 
import geoplot as gplt
import geoplot.crs as gcrs

# Data Pre-Process

## load datas

In [26]:
## the migrant indicator data from 2021 Census Topic Summaries, TS019 - Migrant Indicator
# this file contains multipule rows with notes that are not part of data, if reading by default will result in a dataframe with structural errors
Migrant_Indicator_wrongread = pandas.read_csv('Datas/csnsus2021_TS019 - Migrant Indicator.csv',delimiter="\t")
print(Migrant_Indicator_wrongread)# obviously, pandas treated the title "TS019 - Migrant Indicator" as a column
# skip the first 7 row to avoid that 
Migrant_Indicator_rightread = pandas.read_csv('Datas/csnsus2021_TS019 - Migrant Indicator.csv', skiprows=7)

                             TS019 - Migrant Indicator
0    ONS Crown Copyright Reserved [from Nomis on 22...
1                   Population :,"All usual residents"
2                               Units      :,"Persons"
3                                  Date       :,"2021"
4    2021 super output area - lower layer,"mnemonic...
..                                                 ...
493  ,"In order to protect against disclosure of pe...
494  ,"have been swapped between different geograph...
495  ,"by small amounts. Small counts at the lowest...
496                                       ,"affected."
497                                                ,""

[498 rows x 1 columns]

In [ ]:
## Crime data of 2021.4 to 2021.12 of West Yorkshire street
#the zip file has a very long file name made by source, which may cause problem with windows file explorer, so rename it
os.rename('Datas/c3b4b2b813b856dd673e42b11b7438cbdd90a5db.zip','Datas/crimeLeeds202104to12.zip')

#.csv file of each month is in 1 layer of folders in zip file, make a loop to read them, this step can be skiped by manually copy them out from individual folders
CrimeWestyorkshire2021_List = [None]*9 #create a list to store dataframes
CrimeWestyorkshire2021_zip = zipfile.ZipFile('Datas/crimeLeeds202104to12.zip')
#the folder structure is zipfile/2021-xx/2021-xx-west-yorkshire-street.csv 
for readnum in [0,8]:# due to the uk police data website's limitation, only 9 months' rather than 12 months' data are accessable 
    if readnum < 6 : pathInCrimeZip = "2021-0"+str(readnum+4)+"/2021-0"+str(readnum+4)+"-west-yorkshire-street.csv"
    else : pathInCrimeZip = "2021-"+str(readnum+4)+"/2021-"+str(readnum+4)+"-west-yorkshire-street.csv"
    CrimeWestyorkshire2021_List[readnum] = pandas.read_csv(CrimeWestyorkshire2021_zip.open(pathInCrimeZip))
CrimeWestyorkshire2021_zip.close()

In [ ]:
## shape file of 2021 census version of Lower layer Super Output Areas of England&Wales
LSOA_EW_2021 = geopandas.read_file('Datas/Lower_layer_Super_Output_Areas_2021_EW_BFC_V8_8154990398368723939.zip')

## remove irrelevant parts

In [27]:
## the migrant indicator data
Migrant_Indicator_rightread.tail()
# this datafram still contain some personal privacy related notes, so drop them

,2021 super output area - lower layer,mnemonic,Total: All usual residents,Address one year ago is the same as the address of enumeration,Address one year ago is student term-time or boarding school address in the UK,Migrant from within the UK: Address one year ago was in the UK,Migrant from outside the UK: Address one year ago was outside the UK
488,NaN,In order to protect against disclosure of pers...,NaN,NaN,NaN,NaN,NaN
489,NaN,have been swapped between different geographic...,NaN,NaN,NaN,NaN,NaN
490,NaN,by small amounts. Small counts at the lowest g...,NaN,NaN,NaN,NaN,NaN
491,NaN,affected.,NaN,NaN,NaN,NaN,NaN
492,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# result - final visualisations 
repeat the code of two result visualisations for clear cognition

## non-spatial

## spatial